@use "../../scss/" as *;

.page_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

// .root {
//   position: fixed;
//   bottom: 0;
//   z-index: 999;
//   padding: 10px 80px;

//   @include mobile {
//     position: fixed;
//     top: 100;
//   }
// }
