@use "../../scss/" as *;

.slider {
  width: $width;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: $width;
  height: $height;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;
  background-size: cover;
  background-position: center;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3rem;
  background: rgba(0, 0, 0, 0.5);

  & > * {
    color: $white;
    margin-bottom: 1rem;
  }

  &-description {
    position: absolute;
    top: 23rem;
    left: 5rem;
    width: 65%;
    text-align: justify;
    opacity: 0;
    animation: slide-up 1s ease 0.5s;
    animation-fill-mode: forwards;
    visibility: hidden;

    @keyframes slide-up {
      0% {
        visibility: visible;
        top: 23rem;
      }
      100% {
        visibility: visible;
        top: 10rem;
      }
    }

    @include mobile {
      width: 80%;
      left: 3rem;
    }

    & h2 {
      margin: 8px 0;
    }

    & p {
      margin: 8px 0;
    }

    .imdb_logo {
      width: 3rem;
      vertical-align: middle;
    }

    .release,
    .rating,
    .line {
      margin: 0 0.5rem;
    }
  }
}

.current {
  opacity: 1;
  transform: translateX(0);

  & .content-description {
    opacity: 1;
  }
}

.arrow {
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 0.4;
  background-color: transparent;
  color: #fff;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  top: 35%;
  z-index: 999;

  @include tablet {
    top: 30%;
  }

  @include mobile {
    top: 40%;
  }

  &:hover {
    background: $white;
    color: #777;
    opacity: 1;
  }
}

.next {
  right: 1.5rem;

  @include mobile {
    right: 0.5rem;
  }
}

.prev {
  left: 1.5rem;

  @include mobile {
    left: 0.5rem;
  }
}

.info-btn {
  position: relative;
  font-family: $info-font;
  background: transparent;
  color: $yellow;
  padding: 10px 10px;
  border-radius: 10px;
  border: 2px solid $gray;
  margin: 15px 0;
  font-weight: bold;
  z-index: 999;
}

.info-btn:hover {
  color: black;
}

// @media only screen and (max-width: 1024px) {
//   @keyframes slide-up {
//     0% {
//       visibility: visible;
//       top: 30rem;
//     }
//     100% {
//       visibility: visible;
//       top: 26rem;
//     }
//   }
// }

// @media only screen and (max-width: 600px) {
//   @keyframes slide-up {
//     0% {
//       visibility: visible;
//       top: 30rem;
//     }
//     100% {
//       visibility: visible;
//       top: 22rem;
//     }
//   }
// }
